h1, h2, h3, h4, h5, nav, .nav-link {
	font-family: 'CooperHewittMedium';
}

p, p>a, ul, li, footer {
   font-family: 'KarmaSemibold';
}

/* Navigation */

navbar-dark {
	background-color: orange;
}

.bg-dark {
	background-color: orange !important;
}

.navbar-dark .navbar-brand {
	color: rgba(0,0,0,.7);
}

.navbar-dark .navbar-brand:hover  {
	color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0,.6);
}

/* Navigation Dropdown */

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.8);
} 

.navbar-dark .navbar-nav .show>.nav-link {
	color: rgba(0,0,0,.8);
}


.navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(0,0,0,.6);
}

.dropdown-item.active {
	color: rgba(0,0,0,.8);
	background-color: white;
}

/* Pages */

.accordion:hover {
	text-decoration: none;
}

.flag {
	width: 20px;
	max-width: 20px;
	height: 15px;
	max-height: 15px;
	margin: 0 5px 0;
}

/* Footer */

#footer {
	margin-bottom: 2em;
}